/* Section: About me */

/* Main Grid */
.about-me {
    grid-area: 1 / 2 / span 1 /span 1;
    background-image: url(../images/header-bg.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 120%;
    width: 100%;
}

.technologies {
    grid-area: 2 / 2 / span 1 / span 1;
}

/* Nested Grid */
.about-me-grid {
    display: grid;
    grid-template: 200px repeat(4, 1fr) 200px / repeat(14, 1fr);
    width: 100%;
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
}

.sidebar {
    grid-area: 2 / 1 / span 4 / span 4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-self: center;
    justify-self: center;
    max-width: 300px;
    /* min-height: 500px; */
    /* border: 2px solid red; */
}

.sidebar #headshot {
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to top left,#eba945, #9d66ff) 1;
    width: 100%;
    margin-bottom: 20px;
}

.sidebar article p {
    line-height: normal;
    align-self: center;
}

.main-text-box {
    grid-area: 2 / 6 / span 4 / span 9;
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 777px;
    min-height: 500px;
    /* border: 2px solid red; */
    /* min-width: 570px; */
}

.main-text-box article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* Sidebar */
.social-links {
    display: flex;
    flex-flow: row nowrap;
}

.sidebar hr {
    margin-bottom: 25px;
}

.social-links img {
    width: 35px;
    height: 35px;
    opacity: 50%;
    transition: opacity 150ms linear 0ms;
    cursor: pointer;
}

.social-links img:hover,
.social-links img:active {
    opacity: 100%;
}

.social-links a {
    margin-right: 15px;
}

.email-address {
    display: inline-block;
    padding: 15px 15px;
    margin: 25px 0 0 0;
    background-color: rgb(3, 3, 3);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #030303;
    margin: 5px 0 -15px 108px;
}

#triangle,
#textbox {
    opacity: 0;
    position: absolute;
    user-select: none;
    /* transition: opacity 400ms linear 0ms; */
}

/* Technologies Content */
.technologies-flex {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.technologies p {
    letter-spacing: 10px;
    font-size: 20px;
    opacity: 35%;
    user-select: none;
}

.technologies ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.technologies li {
    margin: 5px 0;
}

.technologies img {
    width: 50px;
    opacity: 50%;
    margin: 0 15px;
    position: relative;
}

/* Buttons */
.view-projects {
    width: 100%;
    position: relative;
    background-color: #9d66ff;
    margin-top: 20px;
    transition: background-color 200ms ease-out; 
}

.view-projects:hover,
.view-projects:active {
    background-color: #7227f3;
}