/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: MonoLisa;
    src: url('/resources/fonts/mono-lisa/MonoLisa-Regular.otf');
}

@font-face {
    font-family: MonoLisa;
    font-weight: bold;
    src: url('/resources/fonts/mono-lisa/MonoLisa-Bold.otf');
}

/* COLOR PALETTE

NEUTRAL COLORS:
Global BG #0a0a0a
Header/Footer BG #030303
Banner BG #1e1e1e

MAIN COLORS:

YELLOW
Primary #eba945
shade #a57630
tint #f1c37d

RED
Secondary #ff796b
shade #b3554b
tint #ffa197

PURPLE
Third #9d66ff
shade #6e47b3
tint #ba94ff

*/

/* Global Styles */
html {
    font-family: MonoLisa, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    background-color: #0a0a0a;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* Typography */
h1 {
    font-weight: normal;
    font-size: 20px;
}