/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: MonoLisa;
    src: url('/resources/fonts/mono-lisa/MonoLisa-Regular.otf');
}

@font-face {
    font-family: MonoLisa;
    font-weight: bold;
    src: url('/resources/fonts/mono-lisa/MonoLisa-Bold.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,700;8..144,800;8..144,900&display=swap');

/* COLOR PALETTE

NEUTRAL COLORS:
Global BG #090909
Header/Footer BG #030303
Banner BG #1e1e1e

MAIN COLORS:

YELLOW
Primary #eba945
shade #a57630
tint #f1c37d

RED
Secondary #ff796b
shade #b3554b
tint #ffa197

PURPLE
Third #9d66ff
shade #6e47b3
tint #ba94ff

*/

/* Global Styles */
html {
    font-family: MonoLisa, monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    background-color: #090909;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* Typography */
h1 {
    font-weight: normal;
    font-size: 20px;
}

h2 {
    font-weight: normal;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: hsla(0, 0%, 100%, 0.652);
    padding: 10px;
    height: 88px;
}

h4 {
    font-weight: normal;
    font-size: 28px;
    color: #ffffff;
    letter-spacing: 0.75rem;
    margin: 0 88px 0 0;
}

p {
    line-height: 3rem;
}

p.indent {
    text-indent: 50px;
}

hr {
    margin-bottom: 30px;
}

/* Grid Layout */
.grid-container {
    display: grid;
    position: relative;
    top: 60px;
    width: 100%;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1000px 124px 1fr 124px 300px;
}

.grey-bg {
    background-color: #1e1e1e;
}

.tech-bg {
    grid-area: 2 / 1 / span 1 / span 3;
}

.cta-bg {
    grid-area: 4 / 1 / span 1 / span 3;
}

/* Button */
.button {
    display: inline-block;
    height: 60px;
    min-height: 60px;
    overflow: hidden;
}

.button a {
    display: block;
    text-align: center;
    /* padding: 20px 0; */
    width: 100%;
    height: 100%;
    z-index: 2;
}

.button span {
    font-size: 20px;
    text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 8px #00000050;
    display: inline-block;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.bttn-borders {
    display: absolute;
    width: 0;
    height: 100%;
    /* z-index: 100; */
    position: absolute;
    pointer-events: none;
    z-index: 2;
    transition: width 250ms ease-out 0ms,
                height 250ms ease-in-out 0ms;
}

.bttn-border-top {
    border-top: 2px solid white;
}

.bttn-border-bottom {
    border-bottom: 2px solid white;
    right: 0;
}

.bttn-border-left {
    border-left: 2px solid white;
    width: 100%;
    height: 0;
    bottom: 0;
}

.bttn-border-right {
    border-right: 2px solid white;
    width: 100%;
    height: 0;
}

.bttn-overlay {
    position: absolute;
    pointer-events: none;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    /* border-left: 1000px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 40px solid rgb(255, 255, 255, 0.05); */
    opacity: 1;
    z-index: 1;
    transition: opacity 250ms ease-out 0ms,
                bottom 150ms ease-in-out 0ms;
}

.button:hover > .bttn-borders,
.button:active > .bttn-borders,
.button:hover > .bttn-overlay,
.button:active > .bttn-overlay {
    width: 100%;
    height: 100%;
    opacity: 100%;
}

.button:active > .bttn-overlay,
.button:hover > .bttn-overlay {
    bottom: 0;
}